USE [DIGITAL]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 6/17/2021 10:17:55 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[digital]') AND type in (N'U'))
DROP TABLE [dbo].[digital]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 6/17/2021 10:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital](
	[ID] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](4000) NOT NULL,
	[image] [nvarchar](200) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[timePost] [date] NOT NULL,
	[shortDes] [nvarchar](4000) NOT NULL,
 CONSTRAINT [pk_digital] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
